label{
    font-size: 2rem;

    
}
input{
    font-size: 2.5rem;
    border-radius:0.2rem;
    width: 100%;
    border: none;
}
input[type=radio]{
    height: 1.5rem;
    width: 1.5rem;
}
input[type=checkbox]{
    height: 1.5rem;
    width: 1.5rem;
}
.form-div1{
    margin: 2rem;
    width: 45%;
    height: auto;

}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
textarea{
    height: 8rem;
    width: 80%;
    border-radius: 0.2rem;
    border: none;
    font-size: 2.5rem;
}
#text1{
    width: 80%;
    border: none;
}
button{
    height:3rem;
    width: 20%;
    display: block;
    margin-left: 80%;
    margin-top: -3rem;
    border: none;
    font-size: 1.5rem;
    background-color: lightgreen;
    border:black;
    color:white;
    
}
select{
    width: 80%;
    height: 3rem;
    font-size: 2.5rem;
    color: gray;
}
input[type=search]::placeholder{
    text-align: center;
}
#read-more{
    font-size: 2.5rem;
    translate:70% -6rem;
    color: white;
    z-index: 2;
}