*{
    box-sizing: border-box;
}
body{
    background-color:#D9D8D8;
    margin: 3rem;
}
#main-div-container{
    margin: 3rem;
}
#main-inner-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.div-main-1-inner{
    width: 49%;
    height: 43.55rem;
    padding: 1rem;
    background-color: whitesmoke;


}
h1{
font-size: 3.5rem;
margin: 1.5rem;
}
.div-main-12-inner{
    width: 49%;
    height: 43.55rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;


}
.div-main-2-inner{
    width: 49%;
    margin-top: 2rem;
    height: 20rem;
    padding: 1rem;
    background-color: whitesmoke;

}
.mini-div{
    width: 50%;
    height: 50%;
    padding: 1rem;
    background-color: whitesmoke;


}
#read-more{

}
img{
    width: 100%;
    height: 100%;
}
/*Now we will write the css for form*/
form{
    height:auto;
    margin-top: 2rem;
}




.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }